<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Edit Author</title>
</head>
<body>
<h1>Edit Author</h1>
<form action="#" method="post" th:action="@{/authors/updateAuthor}" th:object="${author}">
    <input th:field="*{id}" type="hidden"/>
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input required="required" th:field="*{name}" type="text"/>
                <span th:errors="*{name}" th:if="${#fields.hasErrors('name')}"></span>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
</form>
<a href="/authors">Back to Authors</a>
</body>
</html>
