<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Edit Book</title>
</head>
<body>
<h1>Edit Book</h1>
<ul th:if="${errors != null}">
    <li class="error-message" th:each="error : ${errors}" th:text="${error}"></li>
</ul>
<form action="#" method="post" th:action="@{/books/edit}" th:object="${book}">
    <input th:field="*{id}" type="hidden"/>
    <table>
        <tr>
            <td>Title:</td>
            <td>
                <input required="required" th:field="*{title}" type="text"/>
            </td>
        </tr>
        <tr>
            <td>ISBN:</td>
            <td>
                <input th:field="*{isbn}" type="text"/>
            </td>
        </tr>
        <tr>
            <td>Author:</td>
            <td>
                <select th:field="*{author.id}">
                    <option value="">Choose an author...</option>
                    <option th:each="author : ${authors}" th:text="${author.name}" th:value="${author.id}"></option>
                </select>
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Save"/>
            </td>
        </tr>
    </table>
</form>
<a href="/books">Back to Books</a>
</body>
</html>
