<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <title>Add New Author</title>
</head>
<body>
<h1>Add New Author</h1>
<ul th:if="${errors != null}">
    <li class="error-message" th:each="error : ${errors}" th:text="${error}"></li>
</ul>
<form action="#" method="post" th:action="@{/authors/saveAuthor}" th:object="${author}">
    <table>
        <tr>
            <td>Name:</td>
            <td>
                <input required="required" th:field="*{name}" type="text"/>
            </td>
        </tr>
        <tr>
            <td colspan="2"><input type="submit" value="Save"/></td>
        </tr>
    </table>
    <br/>
    <a th:href="@{/books}">Back</a>
</form>
</body>
</html>
